<app-breadcrumb></app-breadcrumb>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover view-table w-100">
          <tbody>
            <tr>
              <td style="width: 30%;">ID/Code</td>
              <td style="width: 70%;">{{ currentRecord.code }}</td>
            </tr>
            <tr>
              <td>Customer Name</td>
              <td>{{ currentRecord.name }}</td>
            </tr>
            <tr>
              <td>CNIC</td>
              <td>{{ currentRecord.cnic ? currentRecord.cnic : 'N/A' }}</td>
            </tr>
            <tr>
              <td>Email Address</td>
              <td>{{ currentRecord.email_address ? currentRecord.email_address : 'N/A' }}</td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td>{{ currentRecord.phone_number ? currentRecord.phone_number : 'N/A' }}</td>
            </tr>
            <tr>
              <td>Mobile Number</td>
              <td>{{ currentRecord.mobile_number ? currentRecord.mobile_number : 'N/A' }}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{ currentRecord.city_name ? currentRecord.city_name : 'N/A' }}</td>
            </tr>
            <tr>
              <td>Credit Balance</td>
              <td>{{ currentRecord.credit_balance ? currentRecord.credit_balance : 'N/A' }}</td>
            </tr>
            <tr>
              <td>Credit Limit</td>
              <td>{{ currentRecord.credit_limit ? currentRecord.credit_limit : 'N/A' }}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{ currentRecord.address ? currentRecord.address : 'N/A' }}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{ currentRecord.status }}</td>
            </tr>
            <tr>
              <td>Image</td>
              <td><img src="{{ imagePreview }}" alt="{{ currentRecord.name }}" width="150"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>