<div class="container">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-4 pe-md-0">
            <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(/images/banner.jpg)' }">
            </div>
          </div>
          <div class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              
              <div class="logo-mini-wrapper">
                <img src="images/logo-mini-light.png" class="logo-mini logo-mini-light" alt="Logo">
                <img src="images/logo-mini-dark.png" class="logo-mini logo-mini-dark" alt="Logo">
              </div>
              
              <h5 class="text-secondary fw-normal mb-4">Your email has been successfully verified. The final step is to set your password to activate your account and get started.</h5>
              
              <div class="mb-3">
                <a href="auth/forgot-password" class="btn btn-primary">Set Password</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
