<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
  </div>
</div>

<!--Counts-->
<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">

      <!-- Total Products -->
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-users"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Total Products</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/products"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/products"><i data-feather="file-text" appFeatherIcon class="icon-sm me-2"></i> <span class="">Reports</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.products_count ? (dashboardData.products_count | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total Customers -->
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-slack"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Total Customers</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/customers"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/customers"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.customers_count ? (dashboardData.customers_count | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total Invoices -->
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-slack"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Total Invoices</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/invoices"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/invoices"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.invoices_count ? (dashboardData.invoices_count | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-body-inner">
              <div class="dash-icon">
                <i class="feather icon-dollar-sign"></i>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Total Bank A/C</h6>
                <div ngbDropdown class="mb-2">
                  <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton1">
                    <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                    <a ngbDropdownItem class="d-flex align-items-center" href="/banks"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center" href="/reports/banks"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h3>{{ dashboardData.banks_count ? (dashboardData.banks_count | number) : 0 }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- row -->

<!--Charts-->
<div class="row">
  <div class="col-lg-7 col-xl-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Monthly Attendance</h6>
          <div ngbDropdown class="mb-2">
            <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton4">
              <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton4">
              <a ngbDropdownItem class="d-flex align-items-center" href="attendances"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="reports/attendances"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <!-- <apx-chart
          [series]="monthlyAttendanceChartOptions.series"
          [chart]="monthlyAttendanceChartOptions.chart"
          [colors]="monthlyAttendanceChartOptions.colors"
          [fill]="monthlyAttendanceChartOptions.fill"
          [grid]="monthlyAttendanceChartOptions.grid"
          [xaxis]="monthlyAttendanceChartOptions.xaxis"
          [yaxis]="monthlyAttendanceChartOptions.yaxis"
          [legend]="monthlyAttendanceChartOptions.legend"
          [stroke]="monthlyAttendanceChartOptions.stroke"
          [dataLabels]="monthlyAttendanceChartOptions.dataLabels"
          [plotOptions]="monthlyAttendanceChartOptions.plotOptions"
        ></apx-chart> -->
      </div> 
    </div>
  </div>
  <div class="col-lg-5 col-xl-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Daily Attendance</h6>
          <div ngbDropdown class="mb-2">
            <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton4">
              <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton4">
              <a ngbDropdownItem class="d-flex align-items-center" href="attendances"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="reports/attendances"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <!-- <apx-chart
          [series]="dailyAttendanceChartOptions.series"
          [chart]="dailyAttendanceChartOptions.chart"
          [colors]="dailyAttendanceChartOptions.colors"
          [fill]="dailyAttendanceChartOptions.fill"
          [grid]="dailyAttendanceChartOptions.grid"
          [xaxis]="dailyAttendanceChartOptions.xaxis"
          [yaxis]="dailyAttendanceChartOptions.yaxis"
          [legend]="dailyAttendanceChartOptions.legend"
          [stroke]="dailyAttendanceChartOptions.stroke"
          [dataLabels]="dailyAttendanceChartOptions.dataLabels"
          [plotOptions]="dailyAttendanceChartOptions.plotOptions"
        ></apx-chart> -->
      </div> 
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <!--Products List-->
  <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Latest Products</h6>
          <div ngbDropdown class="mb-2">
            <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton7">
              <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
              <a ngbDropdownItem class="d-flex align-items-center" href="products"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="reports/products"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th class="pt-0">#</th>
                <th class="pt-0">Image</th>
                <th class="pt-0">SKU</th>
                <th class="pt-0">Prdouct Name</th>
                <th class="pt-0">Brand</th>
                <th class="pt-0">Category</th>
                <th class="pt-0">Unit</th>
                <th class="pt-0">Stock</th>
                <th class="pt-0">Cost Price</th>
                <th class="pt-0">Sale Price</th>
                <th class="pt-0">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <img [src]="product.product_image"
                  alt="{{ product.full_name }}"
                  width="30"
                  height="30">
                </td>
                <td>{{ product.sku }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.brand_name }}</td>
                <td>{{ product.category_name }}</td>
                <td>{{ product.unit_name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.cost_price }}</td>
                <td>{{ product.sale_price }}</td>
                <td>
                  <span class="d-flex align-items-center">
                    <a href="products/view/{{ product.id }}" class="btn btn-primary me-1 action-btn">
                      <i class="feather icon-eye"></i>
                    </a>
                    
                    <a href="products/edit/{{ product.id }}" class="btn btn-warning me-1 action-btn">
                      <i class="feather icon-edit"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
    </div>
  </div>

  <!-- Customers -->  
  <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Latest Customers</h6>
          <div ngbDropdown class="mb-2">
            <a class="no-dropdown-toggle-icon" ngbDropdownToggle id="dropdownMenuButton7">
              <i class="icon-lg text-secondary pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton7">
              <a ngbDropdownItem class="d-flex align-items-center" href="customers"><i data-feather="eye" appFeatherIcon class="icon-sm me-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="reports/customers"><i data-feather="download" appFeatherIcon class="icon-sm me-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th class="pt-0">#</th>
                <th class="pt-0">Image</th>
                <th class="pt-0">ID/Code</th>
                <th class="pt-0">Full Name</th>
                <th class="pt-0">Phone</th>
                <th class="pt-0">City</th>
                <th class="pt-0">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <img [src]="customer.customer_image"
                  alt="{{ customer.full_name }}"
                  width="30"
                  height="30">
                </td>
                <td>{{ customer.code }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.city_name }}</td>
                <td>
                  <span class="d-flex align-items-center">
                    <a href="customers/view/{{ customer.id }}" class="btn btn-primary me-1 action-btn">
                      <i class="feather icon-eye"></i>
                    </a>
                    
                    <a href="customers/edit/{{ customer.id }}" class="btn btn-warning me-1 action-btn">
                      <i class="feather icon-edit"></i>
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
    </div>
  </div>
</div> <!-- row -->