<app-breadcrumb></app-breadcrumb>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover view-table w-100">
          <tbody>
            <tr>
              <td style="width: 30%;">SKU</td>
              <td style="width: 70%;">{{ currentRecord.sku }}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{ currentRecord.name }}</td>
            </tr>
            <tr>
              <td>Category</td>
              <td>{{ currentRecord.category_name }}</td>
            </tr>
            <tr>
              <td>Brand</td>
              <td>{{ currentRecord.brand_name }}</td>
            </tr>
            <tr>
              <td>Unit</td>
              <td>{{ currentRecord.unit_name }}</td>
            </tr>
            <tr>
              <td>Cost Price</td>
              <td>{{ currentRecord.cost_price }}</td>
            </tr>
            <tr>
              <td>Sale Price</td>
              <td>{{ currentRecord.sale_price }}</td>
            </tr>
            <tr>
              <td>Stock</td>
              <td>{{ currentRecord.stock }}</td>
            </tr>
            <tr>
              <td>Description</td>
              <td>{{ currentRecord.description ? currentRecord.description : 'N/A' }}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{ currentRecord.status }}</td>
            </tr>
            <tr>
              <td>Image</td>
              <td><img src="{{ imagePreview }}" alt="{{ currentRecord.name }}" width="150"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>