<app-breadcrumb></app-breadcrumb>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div>
          <strong>Bank Details for Payment:</strong>
          <ul class="mb-2">
            <li><strong>Bank Name:</strong> ABC Bank</li>
            <li><strong>Account Title:</strong> Your Company Name</li>
            <li><strong>Account Number:</strong> 1234567890123</li>
            <li><strong>IBAN:</strong> PK12ABCD1234567890123456</li>
          </ul>
        </div>

        <div class="mt-4">
          <strong>Mobilink JazzCash for Payment:</strong>
          <ul class="mb-2">
            <li><strong>Account Name:</strong> ABC Bank</li>
            <li><strong>Account Number:</strong> 1234567890123</li>
          </ul>
        </div>

        <div class="mt-4">
          <strong>Easypaisa for Payment:</strong>
          <ul class="mb-2">
            <li><strong>Account Name:</strong> ABC Bank</li>
            <li><strong>Account Number:</strong> 1234567890123</li>
          </ul>
        </div>

        <div class="mt-4">
          <strong>Raast ID for Payment:</strong>
          <ul class="mb-2">
            <li><strong>Account Name:</strong> ABC Bank</li>
            <li><strong>Account Number:</strong> 1234567890123</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
