<app-breadcrumb></app-breadcrumb>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
          <div>
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Type to filter the name column..."
              (keyup)="updateFilter($event)"
              style="width: 250px;"
            />
          </div>
          <div class="gap-4">
            <button type="button" class="btn btn-danger btn-sm me-2" [disabled]="selected.length === 0" (click)="deleteSelectedRecords()">
              Delete
            </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="openModal()">
              + Add New
            </button>
          </div>
        </div>
        
        <div class="table-responsive">
          <ngx-datatable
            #table
            class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [limit]="20"
            rowHeight="auto"
            [scrollbarH]="true"
          >
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template ngx-datatable-header-template>
                <input type="checkbox" [checked]="selected.length === rows.length" (change)="selectAll($event)" />
              </ng-template>
              <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
                <input type="checkbox" [checked]="isSelected(row)" (change)="toggleSelection(row)" />
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ID" [width]="50" [canAutoResize]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.id }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Account Title">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.account_title }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Bank Name" [width]="100">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.bank_name }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Account Number">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.account_number }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="IBAN Number">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.iban_number }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Swift Code">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.swift_code }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Address">
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row.address }}
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Status">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span [ngClass]="row.status == 'Active' ? 'badge bg-success text-white' : 'badge bg-danger text-white'">
                  {{ row.status }}
                </span>
              </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Created By">
              <ng-template ngx-datatable-cell-template let-row="row">
                <div>
                  {{ row.created_by }}
                  <br />
                  <small>{{ row.created_at | date:'yyyy-MM-dd' }}</small>
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Action" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <span class="d-flex align-items-center">
                  <button class="btn btn-warning me-1 action-btn" (click)="editRecord(row)">
                    <i class="feather icon-edit"></i>
                  </button>
                  
                  <button class="btn btn-danger me-1 action-btn" (click)="deleteRecord(row)">
                    <i class="feather icon-trash-2"></i>
                  </button>
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ isEditMode ? 'Edit Record' : 'Add New Record' }}</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form class="forms-sample" (submit)="onSubmit($event)">
      <div class="mb-3">
        <label class="form-label">Account Title <span class="text-danger">*</span></label>
        <input type="text" class="form-control" name="account_title" [(ngModel)]="currentRecord.account_title" (input)="clearError('account_title')">
        <div class="text-danger mt-1" *ngIf="formErrors.account_title">
          {{ formErrors.account_title[0] }}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Bank Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" name="bank_name" [(ngModel)]="currentRecord.bank_name" (input)="clearError('bank_name')">
        <div class="text-danger mt-1" *ngIf="formErrors.bank_name">
          {{ formErrors.bank_name[0] }}
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Account Number <span class="text-danger">*</span></label>
        <input type="text" class="form-control" name="account_number" [(ngModel)]="currentRecord.account_number" (input)="clearError('account_number')">
        <div class="text-danger mt-1" *ngIf="formErrors.account_number">
          {{ formErrors.account_number[0] }}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">IBAN Number</label>
        <input type="text" class="form-control" name="iban_number" [(ngModel)]="currentRecord.iban_number" (input)="clearError('iban_number')">
        <div class="text-danger mt-1" *ngIf="formErrors.iban_number">
          {{ formErrors.iban_number[0] }}
        </div>
      </div>
    
      <div class="mb-3">
        <label class="form-label">Swift Code</label>
        <input type="text" class="form-control" name="swift_code" [(ngModel)]="currentRecord.swift_code" (input)="clearError('swift_code')">
        <div class="text-danger mt-1" *ngIf="formErrors.swift_code">
          {{ formErrors.swift_code[0] }}
        </div>
      </div>
    
      <div class="mb-3">
        <label class="form-label">Address</label>
        <textarea class="form-control" name="address" [(ngModel)]="currentRecord.address" (input)="clearError('address')"></textarea>
        <div class="text-danger mt-1" *ngIf="formErrors.address">
          {{ formErrors.address[0] }}
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Status <span class="text-danger">*</span></label>
        <ng-select
          [items]="status"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="currentRecord.status"
          name="status"
          placeholder="Select one"
          [searchable]="false"
          (change)="clearError('status')">
        </ng-select>
        <div class="text-danger mt-1" *ngIf="formErrors.status">
          {{ formErrors.status[0] }}
        </div>
      </div>
    
      <button type="submit" class="btn btn-primary me-2">Save Changes</button>
    </form>
  </div>
</ng-template>