<app-breadcrumb></app-breadcrumb>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
    <div class="card-body">
        <h4 class="mb-3">Support</h4>
        <p>If you're experiencing any issues, bugs, or need assistance, please don't hesitate to reach out to our support team. We're here to help and ensure everything runs smoothly for you.</p>
        <p>Feel free to contact us at <a href="mailto:info&#64;themerange.net">info&#64;themerange.net</a>. We aim to respond promptly and resolve any concerns as quickly as possible.</p>
      </div>
    </div>
  </div>
</div>
